{% extends "layout.html.twig" %}

{% block title 'Basket' %}

{% block stylesheets %}
    {{ parent() }} {# reprend le contenu du bloc parent #}
    <link href="{{asset('css/basket.css')}}" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    
{% endblock %} 

{% block content %}
	
	<div id="mainContent">
            <div id="header">
                <h3>Votre panier</h3>
            </div>
            <div id="basket">
                <table>
                    <tr>
                        <th>Box</th>
                        <th>Prix unitaire</th>
                        <th>Quantité</th>
                        <th>Prix total</th>
                        <th></th>
                    </tr>
                    {% for element in basket %}
                    <tr>
                        <td>{{ element.box.title }}</td>

                        <td><input name="price" class="price" value="{{ element.box.price }}" />€</td>
                        <td>
                            <i class="fa fa-minus" title="Decrease Qty"></i>
                            <input class="qty" value="{{ element.qt }}" name="qty" maxlength="" />
                            <i class="fa fa-plus" title="Increase Qty"></i>
                        </td>
                        <td><input name="cost" class="cost" value=" {{ element.box.price * element.qt }} " />€</td>
                        <td class="last"><a href="{{ path('basket_delete', {id_box: element.box.id}) }}"><i class="fa fa-trash-o" title="Delete Item"></i></a></td>
                    </tr>
                    {% endfor %}
                </table>
                <div id="totalAmount">
                    <div class="left">
                        <h1>A payer</h1>
                        <p style=" font-size: 12px;">TVA incluse</p>
                    </div>
                    <div class="right">
                        <input name="total" id="total" value="{{ basket_manager.total }}" />€
                    </div>
                </div>
                <div class="btn btn-primary col-sm-offset-8 col-sm-4" style="width: 263px;">
                    <a href=""><span style="color: white; padding: 10px; ">Buy</span><i class="fa fa-shopping-cart" style="color: white;"></i></a>
                </div>
            </div>	
            <div class="hide">
           
            </div>
	</div>
                  
{% endblock  %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/basket.js') }}"></script>
{% endblock  %}