<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}GetInspired - Accueil</title>
        
        {% block stylesheets %}
            {# Lien vers le thème Bootstrap #}
            <link href="{{ asset('css/bootstrap_css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
            {# asset() génère un chemin pour les fichiers qui se trouvent dans le répertoire web #}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />        
        {% endblock %}
    </head>
    <body>
        {% if user_manager.admin %}
        <nav class="navbar navbar-inverse">
            <div class="container">            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('homepage')}}">DashBoard</a>                    
                    <a href=""><span class="glyphicon glyphicon-search"></span></a>  
                 </div><!-- /.navbar-header -->
                    
                 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{path('admin_movies')}}">Gestion Films</a></li>
                        <li><a href="{{path('box_list_admin')}}">Gestion Box</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                         
                       
                       
                    </ul>      
                </div><!-- /.navbar-collapse -->   
            </div>
        </nav>
        {% endif %}
        <nav class="navbar navbar-default">
            <div class="container">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('homepage')}}">Get Inspired</a>                    
                    <a href=""><span class="glyphicon glyphicon-search"></span></a>  
                 </div>
          
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{path('movies_list')}}">Films</a></li>
                        <li><a href="">Box</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user_manager.user %}{# si un utilisateur est connecté #}
                        <li>
                            <a>{{ user_manager.userName }}</a>
                        </li>
                        <li>
                            <a href="{{ path('user_logout')}}">Se déconnecter</a>
                        </li>
                        {% else %}
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rejoignez nous ! <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_register') }}">Créer un compte</a></li>
                                <li><a href="{{ path('user_login') }}">Se connecter</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>      
                </div><!-- /.navbar-collapse -->   
            </div><!-- /.container -->
        </nav><!-- nav navbar-default -->
        <div class="container" >
            <div class="row">
                <div class="col-sm-offset-3 col-sm-6">
                    {% for type, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            {% if type == 'error' %}
                                {% set type = 'danger' %}
                            {% endif %}
                            <div class="alert alert-{{ type }}" style="margin:0;">{{ flash|raw}}</div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>            
        {% block content %}{% endblock %}
        <footer>
            <div class="container">
                <p>GetInspired © 2017 - Tous droits réservés</p>
                <ul class="list-inline">
                    <li><a href="">Conditions d'utilisation</a></li>
                    <li><a href="">FAQ (Foire Aux Questions)</a></li>
                    <li><a href="">Mentions Légales</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </footer>
        
        {% block javascripts %}
            {# CDN jQuery #}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{{ asset('js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
