{% extends "layout.html.twig" %}

{% block title 'Films - Get Inspired' %}
    
{% block stylesheets %}
    {{ parent() }} {# reprend le contenu du bloc parent #}
    <link href="{{asset('css/movie_detail.css')}}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="container">
        <section>
            <div class="row">
                <div class="col-sm-3 image">
                    <div><img src="{{ movie.poster }}" alt="Icone du film" class="img-thumbnail"></div>
                    <div class="liens">
                        <input type="button" class="form-control btn btn-default" value="Ajouter à ma whishlist">
                        <input type="button" class="form-control btn btn-success" value="Voir la Bande-annonce">
                    </div>
                    
                </div>
                <div class="col-sm-6">
                    <h1>{{ movie.title}}</h1>
                    <h2>Un film réalisé par <span>{{ movie.director }}</span> ({{movie.productionYear}})</h2><br>
                    <div style="weight: 50%">{{ movie.trailer|raw }}</div>
                </div>
                <div class="col-sm-3">
                    <h4>Informations sur {{ movie.title }}</h4>
                    <hr>
                    <p><span>Casting</span> :<br> {{ movie.actors }}</p>
                    <br>
                    
                    <p>Réalisé par <span>{{ movie.director }}</span></p>
                    <p>Nationalité : {{ movie.nationality }}</p>
                    <p>Genre : {{movie.gender}}</p>
                    <br>
                    
                    <h4>Synopsis</h4>
                    <hr>
                    <p>{{movie.synopsis|raw}}</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}